.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

/* New Style */
.answerbox button {
  margin-top: -5px;
}


.flash-button{
	background: #449d44;
	color:#fff;

	animation-name: flash;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	//Firefox 1+
	-webkit-animation-name: flash;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	//Safari 3-4
	-moz-animation-name: flash;
	-moz-animation-duration: 2s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

.flash-icon{
	color:#449d44;

	animation-name: flash;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	//Firefox 1+
	-webkit-animation-name: flash;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	//Safari 3-4
	-moz-animation-name: flash;
	-moz-animation-duration: 2s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

.row-statistics {
  text-align: center;
}

img {
  width: 100%;
  margin-bottom: 25px;
}

.question span {
  display: block;
  text-align: center;
}
.question img {
  max-height: 150px;
  max-width: 300px;
  width: auto;
  margin-bottom: 0px;
}
.jumbotron.question {
  margin-bottom: 10px;
}
.scoreInformation {
  padding-right: 10px;
  padding-top: 0px;
}
.nextButton {
  margin-bottom: 20px;
  margin-top: 19px;
  margin-right: 15px;
}

.page-header {
  margin-top: 0px;
}

