node_modules/
bower_components/
coverage/
.sass-cache/
.idea/
.tmp/
dist/
build/
.classpath
.DS_Store
/bin
/frontend/.project
/frontend/.settings/

# IntelliJ specific
/frontend/frontend.iml
/backend/backend.iml
out/