<div class="container">

	<div class="jumbotron text-center" ng-if="main.selectCategory">
		<p class="lead">
		<h2>Beat the Quiz!</h2>
		Please select a category:
		</p>

		<div class="row">
			<!--<div class="col-sm-{{12 / main.categories.length}}"-->
				<!--ng-repeat="category in main.categories">-->
				<!--<p>{{category.name}}</p>-->
				<!--<a href="#/" class="btn btn-primary"-->
					<!--ng-click="main.chooseCategory(category.id)">Select</a>-->
			<!--</div>-->

        <div class="col-sm-{{12 / main.categories.length}}" ng-repeat="category in main.categories">
            <a href="#/" class="" ng-click="main.chooseCategory(category.id)">
              <p>{{category.name}}</p>
              <img src="{{category.thumbnail}}" alt="">
            </a>
        </div>
    </div>


		<!--<p class="animated infinite" ng-class="main.classAnimation">-->
		<!--<button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</button>-->
		<!--</p>-->
		<!--<p>-->
		<!--With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>-->
		<!--</p>-->
	</div>
  <nav aria-label="breadcrumb" role="navigation" ng-if="!main.selectCategory">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page" ng-click="main.reset()">Home</li>
      <li class="breadcrumb-item active" aria-current="page">{{main.categories[main.chosenCategoryID].name}}</li>
    </ol>
  </nav>

	<!-- score information -->
	<div class="" ng-if="!main.selectCategory">
		<h4 class="pull-right scoreInformation"><span class="glyphicon glyphicon-ok-sign"></span> {{main.score}} </h4>
	</div>

	<!-- Question and answer block -->
	<div class="jumbotron question" ng-if="main.askQuestion">
		<p class="lead">{{main.questionField}}</p>
    <span ng-if="main.imageURL"><img ng-src="{{main.imageURLField}}"></span>
		<hr>
		<!-- Answers -->
		<div class="answers" ng-repeat="answer in main.answersField">
			<button type="button" class="btn btn-outline-primary btn-block option-{{answer.id}}" ng-click="main.validate(answer.id)">{{answer.text}}</button>
			<p></p>
		</div>
	</div>

  <!-- Boxes after validation -->
  <!-- next box if correct -->
  <button ng-if="main.correctAnswer" type="button" class="nextButton btn btn-success pull-right" ng-click="main.loadFields()">Next</button>

  <!--{{main.answers[main.selectedAnswer-1].description}}-->
  <button ng-if="main.wrongAnswer"class="nextButton btn btn-fail pull-right" ng-click="main.reset()">You lost. Try again</button>

	<div class="answerbox alert alert-success" role="alert" ng-if="main.wrongAnswer && main.newHighscore">
		<span class="glyphicon glyphicon-thumbs-up"></span>
		<strong>You set a new highscore:</strong> {{main.highScore}}
	</div>


	<!--<div class="row">-->
	<!--<div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">-->
	<!--<div class="thumbnail">-->
	<!--<img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">-->
	<!--<div class="caption">-->
	<!--<h3>{{ awesomeThing.title }}</h3>-->
	<!--<p>{{ awesomeThing.description }}</p>-->
	<!--<p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>-->
	<!--</div>-->
	<!--</div>-->
	<!--</div>-->
	<!--</div>-->

</div>

